html{font-size:14px}@media(min-width:768px){html{font-size:16px}}.container{max-width:960px}.pricing-header{max-width:700px}.card-deck .card{min-width:200px}.border-top{border-top:1px solid #e5e5e5}.border-bottom{border-bottom:1px solid #e5e5e5}.box-shadow{box-shadow:0 .25rem .75rem rgba(0,0,0,.05)}.lazyLoad{width:100%;opacity:0}.visible{transition:opacity 1000ms ease;opacity:1}.iframe-container{overflow:hidden;padding-top:56.25%;position:relative}.iframe-container iframe{border:0;height:100%;left:0;position:absolute;top:0;width:100%}
/*
     FILE ARCHIVED ON 22:53:11 Oct 02, 2021 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 14:50:27 May 14, 2023.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 148.93
  exclusion.robots: 0.2
  exclusion.robots.policy: 0.19
  RedisCDXSource: 0.533
  esindex: 0.007
  LoadShardBlock: 128.687 (3)
  PetaboxLoader3.datanode: 106.66 (4)
  load_resource: 140.982
  PetaboxLoader3.resolve: 78.129
*/